@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes efectoSombrear {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root {

    --blanco: #fefefe;
    --negro: #000000;
    --verde: #00af86;
    --verdeClaro: #a9e8da;
    --verdeOscuro: #348673;
    --gris: #3e3e3b;
    --grisClaro: #545454;
    --aqua: #30c1a4;
    --azul: #21aeda;
    --rojo: #da6b21;


    --fondoNegro_Cuadro: rgba(0,0,0,0.9);
    --fondoNegro_Pantalla: rgba(0,0,0,0.7);
}

a {
    text-decoration: none;
    transition: all 0.3s ease; /* Efecto de transicion al cambiar de categoria */
}

/* Botones */
.botonGuardar,
.botonCerrar {
    font-size: 1.8rem;
    
}

.botonGuardar {
    margin-left: 37%;
    margin-right: 10%;
    color: var(--aqua);
}

.botonCerrar {
    color: var(--rojo);
}

/* Agregar datos */
.tablaEliminarDatos,
.tablaEditarDatos,
.tablaAgregarDatos {
    background: var(--fondoNegro_Pantalla);
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }

.panelDatos {
    align-items: center;
    border-collapse: collapse;
    font-size: 1rem;
    min-width: 400px;
    box-shadow: 0 0 20px var(--fondoNegro_Cuadro);
    margin-left: auto;
    margin-right: auto;
    animation: efectoSombrear 0.4s;
}

.panelDatos thead tr {
    background-color: var(--aqua);
    color: var(--blanco);
    text-align: center;
}

.panelDatos th,
.panelDatos td {
    padding: 12px 15px;
}

.panelDatos tbody tr {
    background-color: var(--gris);
}

.panelDatos tbody tr:last-of-type {
    border-bottom: 2px solid var(--aqua);
}

.formDatos {
    background-color: var(--gris);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
.grupoContenedorDatos {
    margin-bottom: 30px;
}

.textoDatos,
.campoTextoDatos,
.campoTituloDatos,
.campoAlertaDatos {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--blanco);
}

.tablaPrimerElemento {
    margin-top: 15px;
}

.campoAlertaDatos {
    font-weight: bold;
    text-align: center;
    color: var(--rojo);
}

.campoTituloDatos {
    font-weight: bold;
}

.campoTextoDatos {
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid var(--grisClaro);
    margin: auto;
    display: block;
    box-sizing: border-box;
    width: 90%;
    padding: 2px;
    line-height: 1.4;
}

::placeholder {
    font-weight: bold;
}