@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes efectoRevelar {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


:root {
    --blanco: #ffffff40;
    --negro: #000000;
    --verde: #ffffff80;
    --verdeClaro: #ffffff80;
    --fondoNegro_Fondo: rgba(0,0,0,0.7);
    --fondoNegro_Cuadro: rgba(0,0,0,0.9);
}

html {
    /* Usa una imagen de fondo y pone una capa translucida */
    background: linear-gradient(
        var(--fondoNegro_Fondo),
        var(--fondoNegro_Fondo)),
        url("../img/fondo.jpg")
        no-repeat center center fixed;

    /* Se asegura de que la imagen se expanda en toda la pantalla */
    background-size: cover;
    height: 100%;

    /* Permite una animacion suave cuando se hace un scroll automatico */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    padding: 30px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease; /* Efecto de transicion al cambiar de categoria */
}

h2 {
    margin-top: 0;
}
main
{
margin-top: auto; /* Approx */
}
header {
  width: 100%;
  padding: 1em;
  position: absolute;
  left: 0;
  text-align: center;
}

body{
  align-items: center;
}

.titulo {

    margin-top: auto;

    background-color: black;
    color: white;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo > i, h1 {
    margin-right: 10px;
    margin-left: 15px;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
}

/* CRUD */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    background-color: #caebd0;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
button {
  font-weight: 600;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 1px;

  color: #fff;
}
.db{
  background-color: #ff5d2b;
}
.ub{
  background-color: #30a18a;
}
