@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blanco: #ffffff40;
    --negro: #000000;
    --verde: #ffffff80;
    --verdeClaro: #ffffff80;
    --fondoNegro_Fondo: rgba(0,0,0,0.2);
    --fondoNegro_Cuadro: rgba(0,0,0,0.9);
}

html {
    /* Usa una imagen de fondo y pone una capa translucida */
    background: linear-gradient(
        var(--fondoNegro_Fondo),
        var(--fondoNegro_Fondo)),
        url("../img/fondo.jpg")
        no-repeat center center fixed;

    /* Se asegura de que la imagen se expanda en toda la pantalla */
    background-size: cover;
    height: 100%;

    /* Permite una animacion suave cuando se hace un scroll automatico */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    transition: all 0.3s ease; /* Efecto de transicion al cambiar de categoria */
}

h2 {
    margin-top: 0;
}

.header {
  width: 100%;
  padding: 1em;
  background-color: #00000040;
  color: WHITE;
  left: 0;
  right: 0;
  text-align: center;
}

#tabla{
  margin-top: 25%;
  margin: auto;
}

body{
  align-items: center;
}

form {
  background-color: #caebd0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form2{
  background-color: #f3f3f3;
}

form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
  background-color:  #fff;
  border-radius: 1rem;
}

form button {
  background-color: #caebd0;
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
  background-color:  ;
  border-radius: 1rem;
}

/* CRUD */
.styled-table {
    align-items: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    background-color: #caebd0;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table2 {
    align-items: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table2 thead tr {
    background-color: #32a2a8;
    color: #ffffff;
    text-align: left;
}
.styled-table2 th,
.styled-table2 td {
    padding: 12px 15px;
}
.styled-table2 tbody tr {
    background-color: #caebd0;
    border-bottom: 1px solid #dddddd;
}

.styled-table2 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table2 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}





button {
  background-color: #474444;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 1px;
  color: #fff;
}
.db{
  background-color: #ff5d2b;
}
.ub{
  background-color: #30a18a;
}
